body{
	background-image: url(background3.jpg);
	background-repeat: no-repeat; 
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
}

.alert {
  padding: 20px;
  background-color: #023047;
  color: white;
  font-family: 'Xanh Mono';
  text-align: center;
  position: relative;
  justify-content: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


.paper{ 
    transition: transform .2s;
    max-height: 30px;
    max-width: 23px;
	top:0;
	bottom: 0;
	right:150px;
  	position:absolute;
	margin: auto;
}

.paper:hover{
   transform:scale(7);   
}

box {
   	width: 40%;
    margin: 0 auto;
    padding: 35px;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
    position:absolute;
    align-items:left;
    left:-100px;
    bottom:20px; 
}
  
.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background-color: #126782;
    font-family: 'Xanh Mono', monospace;
}

.button:hover {
    background: #8ECAE6;
}
  
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 1s ease-in-out;
    font-family: 'Xanh Mono', monospace;  
}
  
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: 'Homemade Apple', cursive;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #8ECAE6;
}

.popup .close:hover {
    color: #8ECAE6;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

.bin{
 		max-height: 200px;
 		max-width: 200px;
}

.bin:hover{
	transform:scale(1.5);
}

div.fixed{
	position: fixed;
	bottom: 20px;
	left: 10px;
}

div.absolute{
	position: absolute;
	bottom: 30px;
    text-align: center;
}


.base-timer {
  position: relative;
  width: 10%;
  margin-top: 100px;
  margin-right: 2%;
  float: right;

}

.base-timercircle {
  fill: none;
  stroke: none;
}

.base-timerpath-elapsed {
  stroke-width: 7px;
  stroke: #FFDEAD;
}
.base-timer__label {
  position: absolute;

  width: 100%;
  height: 100%;

  top: -2%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Xanh Mono", cursive;
  font-size: 30px;
  color: #FFF8DC;
}

.center {
  padding: 70px 0;
  text-align: center;
}

.img{
	max-width: 400px;
  max-height: 400px;
	height:auto;
}

.clue{
  max-height: 200px;
  max-width: 200px;
  text-align: left;
}