html {
    background: url(images/trnava-university-lab.jpg)  no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #285ca5;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #4addff;
  }
  
  .button:hover {
      background-color: #4addff; 
      box-shadow: #285ca5;}
  
  .button:active {
    background-color:#4addff;
    box-shadow: 0 5px #285ca5;
    transform: translateY(4px);
  }

.briefcase{
    padding-top: 460px;
    margin-left: 400px;
    width:25%
}

.briefcase:hover {
    transform:scale(3.25);
}

@media only screen and (max-width : 736px)
{
    .button{
        display: block;
        float: none;
        margin: 0%;
        margin-top: 8px;
        width: 100%;
        top: 0px;
        position: static;
      }
}