/*CODE FOR POPUP BOX
https://codepen.io/imprakash/pen/GgNMXO */

/* CODE FOR ALERT BOX
https://www.w3schools.com/howto/howto_js_alert.asp
*/
#wrapper
{
 
    width:100%;
    position:relative;
}




html{
    background: url(images/page6-edit.png) no-repeat center center fixed;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  

}
body{
    overflow: hidden;
  margin:auto;

}

/*ARROW*/
.arrow
{
  max-width:20%;
  transform:rotate(120deg);
  justify-content:center;

}
.arrowbox
{
    max-width:30%;
    position: absolute;
    left:35%;;
    top:300px;
}

/*POSTER */
.poster
{   display:inline-block;
    max-width: 10%;
    margin-left: 20%;
    padding-top: 250px;
    transition: transform .2s;
    position:absolute;

}
.poster:hover
{
    transform:scale(3);
    
}

/*SANITIZER*/
.sanitizer
{
    position:absolute;
    max-width: 5%;
    margin-left: 55%;
    margin-top: 350px;
    transition: all 0.3s ease-in-out 0s;
}
.sanitizer:hover
{
    transform:scale(5);
    
}

/*ALERT BOX ON TOP OF THE PAGE*/
.alert {
  padding: 20px;
  background-color: #023047;
  color: white;
  justify-content:center;
  font-family: 'Xanh Mono', monospace;
  text-align:center;

  
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
span
{
text-align:center;
}


/*SANITIZER/POSTER IMG DEFAULT SETTINGS*/

.default
{
    background-repeat: no-repeat;
    position:absolute;
    /*background-position: bottom left; */
    background-size:contain;
}

/*HINT BOX */
.box {
    width: 40%;
    justify-content:top left;
    padding: 35px;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
    position:absoltue;
    margin-left:70%;

  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background-color:#8ECAE6;
    font-family: 'Xanh Mono', monospace;
  }
  .button:hover {
    background: #126782;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  /*POP UP BOX*/
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 1s ease-in-out;
    font-family: 'Xanh Mono', monospace;
    margin-top:250px; /*MOVE POP UP BOX MIDDLE OF PAGE*/
    
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    /*font-family: Tahoma, Arial, sans-serif;*/
    font-family: 'Homemade Apple', cursive;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #8ECAE6;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }

/*TIMER MATERIAL*/
  .base-timer {
    position: relative;
    width: 10%;
    margin:auto;
    float: right;
    
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: #FFDEAD;
  }
  /*TIME- ADJUST MARGIN SIZE FOR PLACEMENT*/
  .base-timer__label {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    top: -2%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-family: "Nosifer", cursive;
    font-size: 30px;
    color: #FFF8DC;
  }



  /* MOBILE SCREEN SIZE*/
  @media screen and (max-width: 700px){
    .box{
  
    margin-left:-60px;
    padding-bottom:300px;
    padding: 35px;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
    }

    .popup{
      width: 50%;
      margin-top:220px; /*MOVE HINT BOX TO MIDDLE OF PAGE*/
    }
    html{
        width:70%;
  
    }

    .alert-box{
      width:100%;
      margin-left:100px;
    }

   .arrow
   {

     transform:rotate(120deg);
     justify-content:left;
     left: 40%;
     margin-top:40px;
   }
   .arrowbox
   {
       max-width:30%;
       
     
   }

   .poster {
     min-width:30%;
     position: absolute;
     margin-left: 60%;
     
    padding-top:240px;
   }
   .poster:hover
   {
       transform:scale(2);
  
   }

   .sanitizer
   {
       position:absolute;
       max-width: 10%;
       margin-left: 20px;
       margin-top: 440px;
       transition: all 0.3s ease-in-out 0s;
   }
   .sanitizer:hover
   {
       transform:scale(6);
       
   }
  
   

    

  }


  


  
