/* CODE FOR ALERT BOX
https://www.w3schools.com/howto/howto_js_alert.asp
*/

#wrapper{
    width:100%;
    display:flex;
    margin-left:150px;
    margin-top:100px;
    justify-content:center;
  
}

body{
    justify-content:center;
    margin:auto;
}

html{
    background: url(images/HospitalHallway3.jpg) no-repeat center center fixed;
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

}

img{

    box-shadow: 15px 15px 10px rgb(0,0, 0, 0.5);
    
    
    
 
}

.door1
{
    justify-content:center;
    margin:auto;
}
.door2
{   
justify-content:center;
margin:auto;

}

.d1
{
  width:40%;  
}
.d2{

    width:40%;
}

/*ALERT BOX ON TOP OF THE PAGE*/
.alert {
    padding: 20px;
    background-color: #023047;
    color: white;
    text-align:center;
    font-family: 'Xanh Mono', monospace;
 
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  span
  {
text-align:center;
  }






/*MOBILE DEVICES*/
@media screen and (max-width: 700px){
    
    html{
        width:80%;
    }

    #wrapper{
        width:70%;
        display: block;
        margin-left:170px;
        margin-bottom:30px;
    
    }

.d1
{
    min-width: 50%;
}
.d2{
    min-width:50%;
}

.default{
    padding:10px;
}

.box{
margin-left:100px;
}



  }
